@model FlashDouble.Models.Ethnicity

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ethnicity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.African)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.African)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caucasian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caucasian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EasternEurope)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EasternEurope)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EastIndian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EastIndian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hispanic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hispanic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleEastern)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleEastern)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NativeAmerican)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NativeAmerican)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PacificIslander)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PacificIslander)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoAnswer)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
