@model IEnumerable<FlashDouble.Models.Ethnicity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Asian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.African)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caucasian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EasternEurope)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EastIndian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hispanic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleEastern)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NativeAmerican)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PacificIslander)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoAnswer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Asian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.African)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caucasian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EasternEurope)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EastIndian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hispanic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleEastern)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NativeAmerican)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PacificIslander)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoAnswer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EthnicityID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EthnicityID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EthnicityID })
        </td>
    </tr>
}

</table>
