@model FlashDouble.Models.Genre

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Genre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Acting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Art)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Art)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bodypaint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bodypaint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cosplay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cosplay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Editorial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editorial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Erotic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Erotic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fashion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fashion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fetich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fetich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FitModeling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FitModeling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fitness)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fitness)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Glamour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Glamour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HairMakeup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HairMakeup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lifestyle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lifestyle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lingerie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lingerie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PinUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PinUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pregnancy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pregnancy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Promotional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Promotional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Runway)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Runway)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpokespersonHost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpokespersonHost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sports)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sports)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stunts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stunts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Swimwear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Swimwear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Underwater)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Underwater)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GenreID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
