@model IEnumerable<FlashDouble.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Acting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Art)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bodypaint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cosplay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Editorial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Erotic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fashion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fetich)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FitModeling)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fitness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Glamour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HairMakeup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lifestyle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lingerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PinUp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pregnancy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Promotional)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Runway)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpokespersonHost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sports)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stunts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Swimwear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Underwater)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Acting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Art)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bodypaint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cosplay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editorial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Erotic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fashion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fetich)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FitModeling)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fitness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Glamour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HairMakeup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lifestyle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lingerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PinUp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pregnancy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Promotional)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Runway)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpokespersonHost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sports)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stunts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Swimwear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Underwater)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GenreID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GenreID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GenreID })
        </td>
    </tr>
}

</table>
