@model FlashDouble.Models.Experience

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Experience</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NoExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoExperience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SomeExperience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SomeExperience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experienced)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experienced)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VeryExperienced)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VeryExperienced)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExperienceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
